@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #f7f8fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 900px;
}

.add-input {
  margin: 0;
  padding: 15px 0;
  width: 900px;
}

.add-input input {
  width: 700px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.add-input .btn {
  width: 100px;
  height: 56px;
  margin: 0 0 0 15px;
  padding: 0;
}

.edit-input {
  margin: 0;
  padding: 15px 0;
  width: 400px;
  display: grid;
  gap: 10px;
}

.edit-input input {
  width: 300px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.edit-input .edit-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.edit-input .btn {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 56px;
  margin: auto;
}

.todo-list,
.todo {
  padding: 0;
  margin: 0;
}

.todo-list {
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.todo-list .todo {
  background-color: white;
  width: 900px;
  margin: 1px 0;
  display: flex;
}
.todo-list .todo .todo-icon {
  font-size: 14px;
  margin: 0 5px;
}

.todo-list .todo p {
  display: flex;
  align-items: center;
}
.todo-list .todo:first-of-type,
.todo-list .todo:last-of-type {
  margin: 0;
}

.todo .btn {
  width: 100px;
  margin: 10px 0;
  padding: 0;
}
